.container.menu {
    margin: 0 !important;
    /*padding: 0!important;*/
    width: 100%;
    max-width: unset !important;
}

.menu > .row {
}

.menu .navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    /*flex-wrap: nowrap;*/
}

.menu .collapse {
    display: flex;
    flex-basis: auto;
    justify-content: flex-end;
}

.menu .collapse > ul {
    display: flex;
    flex-direction: row;
}

.menu .collapse > ul > li {
    margin: 5px;
}

/*button like*/
button.like {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    border: unset;
    background-color: unset
}

button.like > svg > path {
    transition: 0.2s;
}

button.like.yes:hover > svg > path {
    fill: red;
}
button.like.yes:active{
    background: red;
}
button.like.yes:active > svg > path{
    fill: white;

}


